<div class="container">

<div class="row">
  <div class="col-md-12">
    <img alt="Logo" src="assets/carousel.png" class="carousel" />
  </div>
</div>


<br>

</div>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="/assets/masonry.pkgd.min.js"></script>



